*{
    margin: 0;
    width: fit-content;
    font-family: 'Work Sans';
}

/* Header Section Styles */
.banner-section{
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    width: fit-content;
    height: 800px;
    left: 1600px;
    top: 0;
}
.banner{
    padding-top: 274px;
    padding-left: 634px;
    padding-right: 150px;
    color: #FFFFFF;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}
.banner-description{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.btn-primary{
    color: white;
    border: none;
    margin-top: 20px;
    background-color: orangered;
    margin-left: 480px;
    width: 160px;
    height: 64px;
}

/* [Main Section] Failure Section Styles */

.main-section{
    height: 1500px;
}

.failure-section{
    display: flex;
}
.failure{
    margin-right: 320px;
    margin-left: 206;
    margin-top: 130px;
}
.person-image{
    margin-left: 150px;
}
.text-section{
    margin-left: 800px;
    margin-top: -430px;
    margin-bottom: 200px;
    margin-right: -170px;
}
.failure-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}
.failure-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.changes li{
    list-style-type:square;
    margin-top: 0px;
}

/* My Plans Section Styles */

.my-plan-section{
    width: 1140px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    
}
.my-plan-title{
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    left: 625px;
    top: 1660px;
    position: absolute;
   
}
.plan{
    margin: 0 auto;
}
.plan-title{
    font-weight: 700;
    font-size: 18px;
}
.plan-description{
    font-weight: 500;
    font-size: 16px;
    color: #737272;
}












































